<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~pinkric5/staging/6552/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~pinkric5/staging/6552/index.php [L]
</IfModule>
